<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    </head>

    <body>
        <h1>GinT Test Application</h1>
        {{ template "_nav" . }}
        <hr/>
        {{ template "content" . }}
        <hr/>
        {{ template "_footer" . }}
    </body>
</html>
